body {
    margin: 0;

    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
/*    height: 10vh;*/
    width: 100%;
    background: #FFF;
    opacity: 0.89;
    z-index: 2;
}

.logo-img-cont {
    opacity: 1;
    margin-left: 8em;
}

.logo {
    margin: 0;
}

.redes {
    display: flex;
    margin-right: 8em;
}

.redes-ancla {
    margin: .5em;
}

.hero {

    background-image: url(../images/Fotos%20Raico-01.jpg);
    background-color: #436377;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 22%;
    margin: 0;
    display: flex;
    flex-direction: column;
    animation: backg 1s ease;
    will-change: opacity;
}

.sub-hero {
    padding: 12em 5em 2em 8em;
}

.hero h3 {
    color: white;
    background: #D40;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: .3em .3em .3em 0;
    width: 7em;
    text-align: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 60px;
    opacity: .9;
}

.hero h1 {
    color: white;
    font-size: 5.5em;
    font-weight: 300;
    margin: 0;
}

.hero-span {
    font-weight: 600;
}

.hero-desc {
    color: white;
    font-size: 1.7em;
    font-weight: 00;
    font-family: 'Raleway', sans-serif;
}

.hero-form {
    display: grid;
    grid-template-columns: 48% 48%;
    width: 50%;
    grid-gap: 1.3em;
    margin-top: 4em;
    animation: backg2 1s ease-in;
    animation-delay: .3s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hero-input {
    background: none;
    border: 2px solid white;
    color: white;
    padding: .4em .6em;
    font-size: 1.5em;
    opacity: .7;
}

input::placeholder {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
}

.button-cont {
    font-size: 1.5em;
    display: flex;
    width: 48.5%;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
}

.hero-button {
    padding: .7em 3em;
    background: #D40;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    border: none;
    opacity: .9;
    cursor: pointer;
    animation: backg2 1s ease-in;
    animation-delay: .5s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.hero-button:hover {
    opacity: 1;
}

.section-1 {
    text-align: center;
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: backg 1s ease-in;
    will-change: opacity;
}

.section-1 h2 {
    font-weight: 300;
    font-size: 4em;
    color: #024;
    margin: 0;
    animation: backg .5s ease-in;
    animation-delay: .5s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.section1-span {
    font-weight: 600;
}

.sec1-fig-cont {
    margin: 0;
}

.sec1-img {
    animation: backg .5s ease-in;
    animation-delay: .5s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.section-2 {
    display: flex;
    justify-content: center;
/*    background-color: #093E58;*/
    background-image: url(../images/Fotos%20Raico-02.jpg);
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 13em 0;
    animation: backg 1s ease-in;
    will-change: opacity;

}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    margin: 1em;
    background: #C94010;
    opacity: 0.85;
    color: white;
    animation: backg2 .5s ease-in;
    animation-delay: .8s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;

}

.box h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0;
}

.box-img-cont {
    margin: 1em 2em;
}

.section-3 {
    background-image: url(../images/Fotos%20Raico-06.jpg);
    padding: 5em 0;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    animation: backg 1s ease-in;
    will-change: opacity;
}

.text {
    margin-left: 10em;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    width: 50%;
    animation: backg .5s ease-in;
    animation-delay: 1.1s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.section-3 h2 {

    color: #C94010;
    font-size: 2.3em;
    font-weight: 300;
}

.section2-span {
    font-weight: 600;
}

.section-3 p {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 600;
}

.section-3 h5 {
    margin-bottom: 0;
    color: #024;
    font-size: 1.2em;
    font-weight: 600;
}

.script {
    color: #C94010;
}

.mas-info {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: .9em;
    width: 14em;
    margin-top: 2em;
    padding: .4em 0;
    background-color: #103355;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.mas-info:hover {
    opacity: 1;
}

.section-4 {
    background-image: url(../images/Fotos%20Raico-07.jpg);
    background-position-y: center;
    padding: 2em 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #093E58;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: backg 1s ease-in;
    will-change: opacity;
}

.section-4 h2 {
    text-align: center;
    color: white;
    font-size: 6em;
    font-weight: 400;
    animation: backg .5s ease-in;
    animation-delay: 1.3s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.section4-span {
    font-style: italic;
}

.otros-serv {
    display: flex;
    justify-content: center;
    animation: backg .5s ease-in;
    animation-delay: 1.3s;
    will-change: opacity;
    animation-fill-mode: forwards;
    opacity: 0;
}

.cont {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.serv {
    width: 60%;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 2.1em;
    padding: 1em 0;
    margin: 0;
}

.guion {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 20%;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.span-sec4 {
    color: #C94010;
}

.footer {
    padding: 3em 0;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes backg {
    0% { opacity: 0;}

    100% { opacity: 1;}
}
@keyframes backg2 {
    0% { opacity: 0;}

    100% { opacity: .8;}
}

@media screen and (max-width: 1650px) {
    .hero {
        background-position-y: 70px;
    }

    .sub-hero {
        padding: 12em 5em 2em 8em;
    }

    .hero h3 {
        font-size: 1.18em;
    }

    .hero h1 {
        font-size: 4em;
    }

    .hero-desc {
        font-size: 1.2em;
    }

    .hero-input {
        font-size: 1em;
    }

    .button-cont {
        font-size: 1em;
        width: 49.5%;
    }

    .section-1 h2 {
        font-size: 2.6em;
    }

    .section-2 {
        padding: 7em 0;
    }

    .box h5 {
        font-size: 1.2em;
    }

    .section-3 {
        padding: 5em 0;
    }

    .text {
        font-size: 1em;
    }

    .section-4 h2 {
        font-size: 2.9em;
    }

    .serv {
        font-size: 1.44em;
    }

    .footer {
        padding: 1em 0;
    }
}

@media screen and (max-width: 1023px) {
    .hero {
        background-position-y: 70px;
    }

    .sub-hero {
        padding: 6em 4em;
    }

    .hero-form {
        width: 100%;
    }

    .button-cont {
        width: 99%;
    }

    .hero-button {
        width: 100%;
        font-size: 1em;
    }

    .section-2 {
        padding: 4em;
    }

    .flexbox {
        width: 98%;
    }

    .box h5 {
        font-size: 1em;
    }

    .section-3 {
        padding: 1em 0;
    }

    .text {
        margin-left: 4em;
        width: 60%;
    }

    .section-4 {
        padding: 2em .5em;
    }

    .cont {
        width: 100%;
    }

    .serv {
        font-size: 1em;
    }

    .guion {
        font-size: 1.4em;
        width: 15%;
    }

    .footer {
        padding: 0;
    }

    .mas-info {
        width: 25em;
        padding: 1.5em 0;
    }
}

@media screen and (max-width: 767px) {
    .logo-img-cont {
        margin: 0 0em 0 1em;
    }

    .redes {
        margin: 0 0 0 0;

    }

    .hero {
        background-position-y: 65px;
        align-items: center;
    }

    .sub-hero {
        padding: 4em 0 .5em;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero-desc {
        font-size: 1em;
        margin: 1em 0;
    }

    .hero-form {
        width: 100%;
        margin: 2em 0;
    }

    .hero-input {
        width: 85%;
    }

    .button-cont {
        width: 99%;
        padding: 0;
        margin-bottom: 1em;
    }

    .hero-button {
        width: 100%;
        font-size: 1em;
    }

    .section-1 {
        padding: 1em;
    }

    .section-2 {
        padding: 0em;
    }

    .flexbox {
        width: 94%;
    }

    .box {
        margin: .5em;
    }

    .box h5 {
        font-size: .9em;
    }

    .section-3 {
        padding: 0;
        background-size: 40%;
        background-position-y: bottom;
    }
    
    .section-3 {
        background-image: none;
        text-align: center;
    }
    
    .section-3 h2 {
        width: 100%;
        margin: .5em 0;
    }

    .section-3 h5 {
        margin: 2em 1em 0;
    
    }

    .section-3 p {
        margin-left: 1em;
    }

    .text {
        margin: 0;
        width: 100%;
    }

    .mas-info {
        width: 80%;
        margin: 2em auto;
        padding: 1.7em 0;
    }

    .section-4 {
        padding: 0em 0em;
    }

    .cont {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .serv {
        font-size: .8em;
    }

    .guion {
        font-size: 1em;
        width: 11%;
        display: none;
    }

    .footer {
        padding: 0;
        justify-content: space-around;
    }

    .footer-img-cont {
        margin: 0;
    }

}

@media screen and (max-width: 479px) {


    .logo-img-cont {
        margin: 0;
        width: 35%;
    }

    .logo {
        width: 95%;

    }

    .redes {
        width: 30%;
        margin: 0 0 0;
    }

    .redes-ancla {
        margin: 0 .4em;

    }

    .wsp,
    .insta,
    .fb {
        width: 100%;
        margin: 0;
    }

    .hero {
        width: 100%;
        margin: 0 auto;
    }

    .hero h1 {
        font-size: 1.8em;
    }
    
  
    .hero-desc {
        font-size: .7em;
    }

    .hero-form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .hero-input {
        width: 80%;
        margin: 0;

    }

    .button-cont {
        margin: 1em auto;
        width: 75%;
    }


    .section-1 h2 {
        font-size: 1.5em;
    }

    .sec1-fig-cont {
        width: 75%;
    }

    .sec1-img {
        width: 95%;
    }
    
    .section-2{
        background-size: 250%;
        background-position-x: 50% 
    }

    .flexbox{
        flex-wrap: wrap;
        flex-flow: column;
        
    }
    
    .box{
        width: 50%;
        
    }
    
    .section-2 h5 {
        font-size: 1em;
    }

    .box-img-cont {
        width: 70%;
        margin: 0;

    }

    .section-2 {
        padding: 1em 0;
    }

    .box-img {
        width: 60px;
        height: 60px;
    }

    .text {
        margin: 0;
    }

    .section-3 {
        background-image: none;
        text-align: center;
    }

    .section-3 h2 {
        font-size: 1.5em;
    }

    .section-3 h5 {
        margin-left: 1em;
    }

    .section-3 p {
        font-size: .64em;
        margin-left: .9em;
    }

    .mas-info {
       width: 80%;
        margin: 2em auto;
    }
    
    .section-4{
        background-size: 160%;
        background-position-x: -35px;
        background-position-y: center; 
    }
    
    .section-4 h2 {
        font-size: 2em;
        margin-bottom: .1em
    }

    .cont {
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: .8em
    }

    .serv {
        font-size: .9em;
        padding: 0.5em;
        
        
    }

    .footer-logo {
        width: 95%;
        margin: 0;
    }

    .footer-img-cont {
        width: 45%;
        margin: 0;
    }
}
